<%
  breadcrumb 'Paginated with errors' => paginated_with_errors_path, @book.title => nil
%>
<div class='card'>
  <div class='card-body'>
    <%= detail_view_list @book, *Book::FIELDS %>
  </div>
</div>
