<div id='remote-form'>
  <%= bootstrap_form_with model: @company, url: my_company_path, layout: :horizontal do |f| %>
    <%= f.text_field :name %>
    <div class='remote-form__actions'>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
